* {
   padding: 0;
   margin: 0;
}

body {
   height: 100vh;
   min-width: 100%;
   font-family: "SF Pro Display", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
}

nav {
   display: flex;
   align-items: center;
   min-width: 80%;
   padding: 10px 5px;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3%;
   list-style: none;
   text-decoration: none;
   width: 100%;
   font-size: 12px;
   cursor: pointer;
}

.navbar li button {
   font-size: 15px;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

main {
   margin-top: 4%;
   display: flex;
   justify-content: space-between;
   height: 100%;
   width: 50%;
   gap: 3%;
}

main .infos {
   width: 40%;
}

main .infos p.title {
   font-size: 35px;
   font-weight: 550;
}

.infos {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.infos .prices p span {
   color: rgb(24, 113, 255);
   cursor: pointer;
}

.infos .prices p{
   font-weight: 400;
   font-size: 15px;
}

.infos .prices p span:hover, .infos .opcoes-tamanho p span:hover {
   text-decoration: underline rgb(24, 113, 255);
}

.infos .colors {
   margin-top: 3%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.infos .colors p.color-name {
   font-weight: 450;
   font-size: 20px;
}

.infos .colors .buttons {
   display: flex;
   gap: 3%;
}

.infos .colors .buttons button {
   width: 30px;
   height: 30px;
   border-radius: 100%;
   border: none;
   cursor: pointer;
}

.infos .colors .buttons button:focus {
   border: 3px solid rgb(24, 113, 255);
}

.infos .colors .buttons button.verde-cipreste {
   background-color: rgb(27, 52, 22);
}

.infos .colors .buttons button.azul {
   background-color: rgb(112, 154, 209);
}

.infos .colors .buttons button.meia-noite {
   background-color: rgb(36, 38, 53);
}

.infos .colors .buttons button.estelar {
   background-color: rgb(239, 239, 184);
}

.infos .colors .buttons button.rosa-claro {
   background-color: rgb(233, 196, 230);
}

.infos .colors p.carbon {
   font-size: 14px;
}

.infos .colors p.carbon i{
   color: rgb(81, 255, 116);
}

.infos .opcoes-tamanho {
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.infos .opcoes-tamanho p.subtitle{
   font-weight: 500;
}

.infos .opcoes-tamanho p.descricao {
   font-size: 15px;
   width: 70%;
}

.infos .opcoes-tamanho p span {
   font-size: 15px;
   color: rgb(24, 113, 255);
   cursor: pointer;
}

.infos .opcoes {
   display: flex;
   gap: 3%;
}

.infos .opcoes button {
   text-align: center;
   height: 100px;
   width: 150px;
   border-radius: 15px;
   cursor: pointer;
   border: 1px solid rgb(148, 148, 148);
   background-color: transparent;
   font-weight: 600;
   font-size: 17px;
}

.infos .opcoes button:focus {
   border: 2px solid rgb(24, 113, 255);
}

.tamanho {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.tamanho p.text{
   color: rgb(54, 54, 54);
   font-size: 14px;
   width: 78%;
}

.tamanho p span {
   color: gray;
}

.images {
   display: flex;
   flex-direction: column;
   align-items: center;   
}

.opcao-images {
   display: flex;
   width: 30%;
   justify-content: center;
   gap: 3%;
}

.opcao-images img {
   width: 50px;
   cursor: pointer;
}

.opcoes-tamanho .opcoes button.selected {
   border: 2px solid rgb(24, 113, 255);
}

.colors .buttons button.selected {
   border: 3px solid rgb(24, 113, 255);
}

@media screen and (max-width: 1400px) {
   main {
      width: 90%;
      display: flex;
      flex-direction: column;
   }

   .infos {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      justify-content: center;
   }

   .infos .colors {
      margin-top: 3%;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   .infos .opcoes {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .images {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      align-items: center;
   }

   .images #img-selecionada {
      width: 400px;
   }

   nav {
      display: none;
   }

}
